{% extends "partition/layout.html" %}
{% block body %}


<!-- Main Content -->
<div class="page-wrapper">
     
    <div class="container-fluid">

        <!-- Title -->
        <section class="content-header">
            <ol class="breadcrumb">
                <!-- <li><a href="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li> -->
                <li class="active">Module</li>
            </ol>
        </section>
        <!-- /Title -->

        <br>
        <!-- <div class="col-sm-3">
            <div class="input-group">
                <div class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></div>
                <select class="form-control" name="status" id="status">
                    <option value="">All</option>
                        <option value="active">Active</option>
                        <option value="inactive" >Inactive</option>
                    </select>
            </div>
        </div> -->
        <br>
        <!-- Row -->
        <section class="content">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default card-view">
                        <div class="panel-heading">
                            <!-- <div class="col-md-2">
                                <div class="form-group">
                                    <label>Start Date</label>
                                    <input required="required" class="form-control" placeholder="DD/MM/YYYY"
                                        name="start" type="text" id="start" autocomplete="off"
                                        data-date-format="YYYY-MM-DD HH:mm" value="{{start}}">

                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>End Date</label>
                                    <input required="required" class="form-control" placeholder="DD/MM/YYYY" name="end"
                                        type="text" id="end" autocomplete="off" data-date-format="YYYY-MM-DD HH:mm"
                                        value="{{end}}">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <label> &nbsp;</label><br>
                                <button class="btn btn-primary" id="dateSearch"><i class="fa fa-search"></i></button>
                            </div> -->
                            <!-- <div class="pull-left">
                                <h6 class="panel-title txt-dark">Users</h6>
                            </div> -->
                            {% if role == "superAdmin"%}
                            <div class="pull-right">
                                <a href="/addModule"
                                  ><button type="button" class="btn btn-primary btn-md">
                                    <i class="fa fa-plus"></i> Assign Module
                                  </button></a
                                >
                              </div>
                              {%else%}
                              <div class="pull-right">
                                <a href="/editUserModule"
                                  ><button type="button" class="btn btn-primary btn-md">
                                    <i class="fa fa-plus"></i> Assign Module
                                  </button></a
                                >
                              </div>
                             {%endif%}
                              &nbsp;
                              <div class="clearfix"></div>
                        </div>
                        <div class="panel-wrapper collapse in">
                            <div class="panel-body">
                                <div class="table-wrap">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-hover display  pb-30">
                                            <thead>
                                                <tr>
                                                    <th>Title</th>
                                                    <th>Image</th>
                                                    <th>Price</th>
                                                    {%if role == "admin"%}
                                                    <th>Learner Name</th>
                                                    {%endif%}
                                                    {%if role == "superAdmin"%}
                                                    <th>Admin Name</th>
                                                    {%endif%}
                                                    <th>Total Max Session</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div
  id="bulkLearner"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
  style="display: none"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <form
        action="/bulkLearnersCreate"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label class="control-label">Upload CSV File</label>
                <div class="preview-zone hidden">
                  <div class="dropBox dropBox-solid">
                    <div class="dropBox-header with-border">
                      <div><b>Preview</b></div>
                      <div class="dropBox-tools pull-right">
                        <button
                          type="button"
                          class="btn btn-danger btn-xs remove-preview"
                        >
                          <i class="fa fa-times"></i> Reset This Form
                        </button>
                      </div>
                    </div>
                    <div class="dropBox-body"></div>
                  </div>
                </div>
                <div class="dropzone-wrapper">
                  <div class="dropzone-desc">
                    <i class="glyphicon glyphicon-download-alt"></i>
                    <p>Choose a <b>CSV</b> file or drag it here.</p>
                  </div>
                  <input type="file" name="img_logo" class="dropzone" />
                </div>
              </div>
            </div>
          </div>
          <input type="hidden" id="userRole" value="{{role}}">
          <div class="row">
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary pull-right">
                Upload
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %} {% block Jscript %}
<script>
    $(document).ready(function () {
      let userRole = $('#userRole').val()
        function readFile(input) {
      if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
          var htmlPreview = "<p>" + input.files[0].name + "</p>";
          var wrapperZone = $(input).parent();
          var previewZone = $(input).parent().parent().find(".preview-zone");
          var boxZone = $(input)
            .parent()
            .parent()
            .find(".preview-zone")
            .find(".box")
            .find(".box-body");

          wrapperZone.removeClass("dragover");
          previewZone.removeClass("hidden");
          boxZone.empty();
          boxZone.append(htmlPreview);
        };

        reader.readAsDataURL(input.files[0]);
      }
    }

    function reset(e) {
      e.wrap("<form>").closest("form").get(0).reset();
      e.unwrap();
    }

    $(".dropzone").change(function () {
      readFile(this);
    });

    $(".dropzone-wrapper").on("dragover", function (e) {
      e.preventDefault();
      e.stopPropagation();
      $(this).addClass("dragover");
    });

    $(".dropzone-wrapper").on("dragleave", function (e) {
      e.preventDefault();
      e.stopPropagation();
      $(this).removeClass("dragover");
    });

    $(".remove-preview").on("click", function () {
      var boxZone = $(this).parents(".preview-zone").find(".box-body");
      var previewZone = $(this).parents(".preview-zone");
      var dropzone = $(this).parents(".form-group").find(".dropzone");
      boxZone.empty();
      previewZone.addClass("hidden");
      reset(dropzone);
    });
        var host = window.location.origin;
        console.log("userRole",userRole);
        
        if(userRole == "admin"){
          LoadModule()
        }else{

          LoadData()
        }
        $('#status').on('change', function () {
            console.log("yess it chaneg ");
            dataTable.draw();
        });
       
        function capitalizeFirstLetter(string) {
            console.log("String",string);
    return string.charAt(0).toUpperCase() + string.slice(1);
}

        function LoadData() {

            var startdate = $("#start").val();
            var enddate = $("#end").val();
            
            console.log(window.location.url);
            let dataTable = $('#myTable').DataTable({
                "oLanguage": {
                    "sSearch": "Search Title"
                },
                // "scrollX": true,
                // "searching": false,
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "autoWidth": false,
                "pageLength": 10,
                "ajax": {
                    url: host + '/getAllModule',
                   
                },
                "createdRow": function (row, data, dataIndex) {
                    if (data.role === "shop") {
                        $(row).css('background-color', '#C0C0C0');
                    }
                },
                "columns": [
                    // { "data": "_id" },
                    {
                        "data": "title"
                    }, 
                     {
                        "data": "image",
                        render: function(data, row, type) {
                    return '<img src="'+ type.image + '"width="70px" height="70px">';
                }
                    },  
                    {
                        "data": "price",
                    },
                    {
                        "data": "name",
                        render: function(data,row,type){
                            console.log("type",type);
                            
                            return type.userData[0].firstName
                        }
                    },
                   
                    {
                        "data":"totalMaxSession",
                    },
                    {
                        "data": "status",
                        render: function (data, type, row) {
                            console.log("row", row);
                            if (data == "active") {
                                return '<a class="changeStatus" style="color:green" href="#" id="' + row._id + '" >Active</a>'
                            } else {
                                return '<a class="changeStatus" style="color:red" href="#" id="' + row._id + '" >InActive</a>'
                            }
                        }
                    }, 
                     {
                        "data": "action",
                        render: function (data, type, row) {

                                    return '{%if role == "admin"%}<a href="/editUserModule/' + row._id + '" class="" ><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit" title="Edit Player"><i class="fa fa-edit" aria-hidden="true"></i></button></a>{%endif%}{%if role == "superAdmin"%}<a href="/editModule/' + row._id + '" class="" ><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit" title="Edit Player"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <a href="/deleteModule/' + row._id + '" class="" ><button type="button" class="btn btn-danger btn-xs btn-rounded" name="delete" title="Delete Player"><i class="fa fa-trash" aria-hidden="true"></i></button></a>{%endif%}'
                                
                                
                           
                            // return '<a href="/userEdit/'+row.id+'"><button type="button" class="btn btn-warning btn-xs" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="'+row.id+'" class="btn btn-danger btn-xs delete"><i class="fa fa-trash" aria-hidden="true"></i></button> '
                            // <a href="/userEdit/' + row.id + '"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="' + row.id + '" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>
                        }
                    }
                ]
            });
        }
        function LoadModule() {

var startdate = $("#start").val();
var enddate = $("#end").val();

console.log(window.location.url);
let dataTable = $('#myTable').DataTable({
    "oLanguage": {
        "sSearch": "Search Title"
    },
    // "scrollX": true,
    // "searching": false,
    "processing": true,
    "serverSide": true,
    "ordering": false,
    "autoWidth": false,
    "pageLength": 10,
    "ajax": {
        url: host + '/getAdminModule',
       
    },
    "columns": [
        // { "data": "_id" },
        {
            "data": "title",
          
        }, 
         {
            "data": "image",
            render: function(data, row, type) {
        return '<img src="'+ type.image + '"width="70px" height="70px">';
    }
        },  
        {
            "data": "price",
           
        },
        {
                        "data":"firstName",
                        render: function(data, row, type) {
                            console.log("type",type);
                            
                            return type.learner[0].firstName
                        }
                    },
        {
            "data":"totalMaxSession",
            
        },
        {
            "data": "status",
            render: function (data, type, row) {
                console.log("row", row);
                if (data == "active") {
                    return '<a class="changeModuleStatus" style="color:green" href="#" id="' + row._id + '" >Active</a>'
                } else {
                    return '<a class="changeModuleStatus" style="color:red" href="#" id="' + row._id + '" >InActive</a>'
                }
            }
        }, 
         {
            "data": "action",
            render: function (data, type, row) {

                        return '{%if role != "admin"%}<a href="/editUserModule/' + row._id + '" class="" ><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit" title="Edit Player"><i class="fa fa-edit" aria-hidden="true"></i></button></a>{%endif%}{%if role == "superAdmin"%}<a href="/editModule/' + row._id + '" class="" ><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit" title="Edit Player"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <a href="/deleteModule/' + row._id + '" class="" ><button type="button" class="btn btn-danger btn-xs btn-rounded" name="delete" title="Delete Player"><i class="fa fa-trash" aria-hidden="true"></i></button></a>{%endif%}'
                    
                    
               
                // return '<a href="/userEdit/'+row.id+'"><button type="button" class="btn btn-warning btn-xs" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="'+row.id+'" class="btn btn-danger btn-xs delete"><i class="fa fa-trash" aria-hidden="true"></i></button> '
                // <a href="/userEdit/' + row.id + '"><button type="button" class="btn btn-warning btn-xs btn-rounded" name="edit"><i class="fa fa-edit" aria-hidden="true"></i></button></a> <button type="button" name="delete" id="' + row.id + '" class="btn btn-danger btn-xs delete btn-rounded"><i class="fa fa-trash" aria-hidden="true"></i></button>
            }
        }
    ]
});
}
        $(function () {
            "use strict";

            var SweetAlert = function () { };

            SweetAlert.prototype.init = function () {

                //Parameter
                $('body').on('click', '.changeStatus', function (e) {
                    var id = $(this).attr('id');
                    var thisElement = this;
                    swal({
                        title: "Are you sure?",
                        text: "Do you want to update the status?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#e69a2a",
                        confirmButtonText: "Confirm",
                        cancelButtonText: "Cancel",
                        closeOnConfirm: false,
                        closeOnCancel: true
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                type: 'POST',
                                url: host + "/moduleStatus",
                                data: {
                                    id: id
                                },
                                success: function (resultData) {
                                    // alert(resultData)
                                    console.log(resultData);
                                    if (resultData == 'success') {
                                        // $(thisElement).parent().parent().hide(700);
                                        window.location.reload()
                                    } else {
                                        alert("Something went wrong")
                                    }
                                    // alert("Save Complete")
                                }
                            });
                        } else {

                        }
                    });
                    return false;
                });



            },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });
        $(function () {
            "use strict";

            var SweetAlert = function () { };

            SweetAlert.prototype.init = function () {

                //Parameter
                $('body').on('click', '.changeModuleStatus', function (e) {
                    var id = $(this).attr('id');
                    var thisElement = this;
                    swal({
                        title: "Are you sure?",
                        text: "Do you want to update the status?",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#e69a2a",
                        confirmButtonText: "Confirm",
                        cancelButtonText: "Cancel",
                        closeOnConfirm: false,
                        closeOnCancel: true
                    }, function (isConfirm) {
                        if (isConfirm) {
                            $.ajax({
                                type: 'POST',
                                url: host + "/moduleAdminStatus",
                                data: {
                                    id: id
                                },
                                success: function (resultData) {
                                    // alert(resultData)
                                    console.log(resultData);
                                    if (resultData == 'success') {
                                        // $(thisElement).parent().parent().hide(700);
                                        window.location.reload()
                                    } else {
                                        alert("Something went wrong")
                                    }
                                    // alert("Save Complete")
                                }
                            });
                        } else {

                        }
                    });
                    return false;
                });



            },
                $.SweetAlert = new SweetAlert, $.SweetAlert.Constructor = SweetAlert;

            $.SweetAlert.init();
        });
        $("body").on("click", ".addChips", function () {
            var userId = $(this).attr("id");
            console.log(userId)
            // console.log("player id ----------->",PlayerId)
            var html = '<input type="hidden" name="userId" value="' + userId + '" />';
            $("#chipsAdd").html(html);
        });
    });
</script>
{% endblock %}